/* interactivity */
#ingredients > li .sublist {
    /*display: none; */
    visibility: hidden;
    max-height: 0px;
    opacity: 0;
    /*transition: max-height .5s, opacity .1s;
    -webkit-transition: max-height .5s, opacity .1s;
    -ms-transition: max-height .5s, opacity .1s;*/
}
#ingredients > li.active .sublist {
    /* display: block; */
    visibility: visible;
    max-height: 600px;
    opacity: 1;
    transition: max-height .2s, opacity .3s;
    -webkit-transition: max-height .2s, opacity .3s;
}

#tips div.ingredient { display: none; height:0; float:left;}
#tips div.ingredient.active {display: block; height:auto; transition: .5s height ease; -webkit-transition: .5s height ease; -ms-transition: .5s height ease;}
#tips div.ingredient.animated { display: block;}


#plate div.ingredient { display: none; position: absolute; transition: all ease .2s; -webkit-transition: all ease .2s; -ms-transition: all ease .2s;}
#plate div.ingredient:hover {
    width: 110%;
    height: 110%;
    margin: -5% 0 0 -5%;
    z-index: 9999;
}
#plate div.ingredient.active {display: block;}
#plate div.ingredient.animated { display: block;}

/* #menu .sublist li { border-left: 0px solid teal; transition: border-left 1s;} */
/* #menu .sublist li.newSelection { border-left: 5px solid teal;} */

/* interactivity lvl 2 */

#ingredients > li {
    transition: .2s background;
    -webkit-transition: .2s background;
    -ms-transition: .2s background;
}
#ingredients > li.Fruit, #ingredients > li.Drink {
    background-color: #efefef;
    animation-duration: 0s;
}
#ingredients > li.active {
    background: #fafafa;
    transition: .3s background;
    -webkit-transition: .3s background;
    -ms-transition: .3s background;
    position: relative;
    z-index: 999;
}



/* CYP styles */

#CYP-widget {
    overflow: hidden;
    width: 832px;
    margin: 0 auto;
    max-width: 100%;
    background-color: #fafafa;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px #ddd;
    position: relative;
    transition: background-color .5s, box-shadow .5s;
    -webkit-transition: background-color .5s, box-shadow .5s;
    -ms-transition: background-color .5s, box-shadow .5s;
}
#CYP-widget h1 {
    font-family: Roboto, sans-serif;
    color: #fff;
    background-color: teal;
    margin-top: 0;
    box-shadow: 0 2px 2px #ccc;
    padding: .5em 2em;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.3em;
}


/* menu styles */

#menu {
    float: right;
    width: 36%;
    box-sizing: border-box;
    padding: 0;
    border-right: none;
    position: relative;
    z-index: 99;
    margin-right: 2%;
}

#CYP-widget #menu-title {
    font-family: Roboto, sans-serif;
    color: #444;
    margin-left: 0;
    margin-top: .5em;
    float: left;
    border: none;
    font-size: 1.5em;
    padding-bottom: 0;
}

#menu ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
}
#ingredients { margin: 0;clear: both;}
#menu li { list-style-type: none; animation-duration: .3s; -webkit-animation-duration: .3s; -ms-animation-duration: .3s; -moz-animation-duration: .3s;}
#menu li, #menu button { cursor: pointer;}
#ingredients > li { border-top: 1px solid #ddd; }
#menu button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: .5em 25px .5em .5em;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: left;
    background-image: url(http://www.diabetes.org/assets/img/CYP/images/icons/arrow-closed.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    filter: none;
    -ms-filter: none;
    transition: 0s;
}
#menu #reset {
    background-image: none;
    font-weight: normal;
    text-align: right;
    color: #999;
    display: inline-block;
    width: auto;
    float: right;
    padding: .5em;
}

#ingredients > .food-type-0 button:before {
    content: '25%';
    display: inline-block;
    padding-right: 30px;
    background-image: url(http://www.diabetes.org/assets/img/CYP/images/icons/red-slice.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #c31331;
    margin-right: .5em;
}
#ingredients > .food-type-1 button:before {
    content: '25%';
    display: inline-block;
    padding-right: 30px;
    background-image: url(http://www.diabetes.org/assets/img/CYP/images/icons/yellow-slice.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #f3b700;
    margin-right: .5em;
}
#ingredients > .food-type-2 button:before {
    content: '50%';
    display: inline-block;
    padding-right: 30px;
    background-image: url(http://www.diabetes.org/assets/img/CYP/images/icons/green-slice.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #00AA08;
    margin-right: .5em;
}

#ingredients > .evergreen button:before {
    content: '+ ';
    display: inline-block;
    padding: .25em;
    background-color: #dfdfdf;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    line-height: 1em;
    margin-right: .6em;
    text-align: center;
    margin-left: 36px;
}

#ingredients li li {
    padding-top: 0;
    transition: border .3s, padding .3s;
}

#menu .active button { background-image: url(http://www.diabetes.org/assets/img/CYP/images/icons/arrow-opened.png);}
#menu button:hover { background-color: #dfdfdf; }
#menu button:active,  #menu button:focus {
    border: none;
    outline: none;
}

#menu .sublist { padding-left: 0em;}

#menu .sublist li {
    background-image:url(http://www.diabetes.org/assets/img/CYP/images/icons/radio-unchecked.png);
    background-repeat: no-repeat;
    background-position: left 10px top 8px;
    padding-left: 35px;
    line-height: 2em;
    margin-left: 13%;
    width: 75%;
    transition: margin ease .2s, padding ease .2s;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
#menu .sublist li:hover {
    background-color: #efefef;
}
#menu .sublist li.active {
    transition: border .3s;
    width: 100%;
    margin-left: 0;
}
#menu .sublist li.active:hover {
    background-color: transparent;
    border-left: 10px solid;
    border-right: 0px solid transparent;
}
#menu .sublist .active  { background-image:url(http://www.diabetes.org/assets/img/CYP/images/icons/radio-checked.png); color: #307FE2;}

#ingredients .food-type-0 .sublist .active { /* background-image:url(http://www.diabetes.org/assets/img/CYP/images/icons/radio-checked-red.png); */ color: #c31331;}
#ingredients .food-type-1 .sublist .active { /* background-image:url(http://www.diabetes.org/assets/img/CYP/images/icons/radio-checked-yellow.png); */ color: #f3b700;}
#ingredients .food-type-2 .sublist .active { /* background-image:url(http://www.diabetes.org/assets/img/CYP/images/icons/radio-checked-green.png); */ color: #00AA08;}

#ingredients .sublist .active { background-image: none; padding: 0em; border-left: 5px solid; border-right: 5px solid transparent; box-sizing: border-box;}

#menu .sublist.active li { display: none; }
#menu .sublist.active li.active { display: block;  background-color: #fff;}
#menu .sublist .tip { display: none; }
#ingredients > .active .sublist .active .tip { display: block; }
#menu .tip p {
    font-size: .9em;
    line-height: 1.5em;
    color: #444;
}
#menu .tip { padding: 1em; }
.sublist .active .menu-option { display: none; }
#ingredients > li.active .sublist.active { padding-left: 0; }

/* tip styles */

#tips, #CYP-widget > h2 {
    clear: both;
    width: 52%;
    position: relative;
    overflow: hidden;
    margin-left: 5%;
}

#CYP-widget h2 {
    font-family: Roboto, sans-serif;
    color:#444444;
    margin-top: 1em;
    font-weight: normal;
}
.tip-image {
    width: 70px;
    height: 70px;
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    border-radius: 0;
    border: 1px solid #aaa;
    margin-right: 1em;
}
#tips .ingredient[class*=Down] { position: absolute; z-index: -1;}
#tips h6 {
    margin: 0 0 0 75px;
    line-height: 50px;
    font-size: 1.2em;
}
#tips p {
    margin-left: 75px;
    margin-top: 0;
}
#tips .ingredient { width: 100%;}
#share h2 {
    margin-left: 3%;
    color: white;
    margin: 0em;
    padding: 0em;
    border-bottom: none;
    font-size: 1.4em;
}

/* plate styles */

#plate {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    float: left;
}

#table-spread {
    width: 54%;
    position: relative;
    float: left;
    margin-left: 3%;
    border-right: 1px solid #eee;
    padding-right: 1.5em;
    padding-bottom: 3em;
    padding-top: 4em;
}

#plate-bg {
    position: relative;
    top: 8px;
    left: 3px;
}
/* rlg changed ruler bottom 9-11 */
#ruler {
    position: absolute;
    left: 0;
    width: 92%;
    bottom: -4%;
    margin-left: 2%;
}

#plate .plate-image { width: 100%; height: auto; }
#plate .pie-section {
    position: absolute;
    width:50%;
    cursor: pointer;
    transition: all ease .5s;
}
#plate .ingredient {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#plate .pie-section:nth-of-type(1) .ingredient { background-position: right bottom; }
#plate .pie-section:nth-of-type(2) .ingredient {  background-position: right top; }

#plate .pie-section:nth-of-type(1) {
    top:0;
    left:0;
    height: 30%;
    margin-top: 20%;
    width: 37%;
    margin-left: 13%;
}
#plate .pie-section:nth-of-type(2) {
    bottom: 0;
    left: 0;
    height: 35%;
    margin-bottom: 15%;
    width: 35%;
    margin-left: 15%;
}
#plate .pie-section:nth-of-type(3) {
    right: 0;
    top:0;
    height: 100%;
    height: 68%;
    width: 38%;
    margin-right: 12%;
    margin-top: 16%;
}


/* plate plus signs */
.pie-section:before {
    content: '+';
    display: inline-block;
    padding: 0.25em;
    background-color: transparent;
    line-height: 1em;
    width: 1em;
    text-align: center;
    border-radius: 50%;
    font-size: 2em;
    /* border: 1px solid; */
    box-shadow: 1px 1px 3px #ccc;
    position: absolute;
    bottom: 25%;
    right: 28%;
}

.pie-section:hover:before {
    background-color: #efefef;
}

.pie-section.food-type-1:before {
    bottom: auto;
    top: 25%;
}

.pie-section.food-type-2:before {
    right: auto;
    left: 31%;
    bottom: 42%;
}

.pie-section:nth-of-type(1):before { color: #C31331;}
.pie-section:nth-of-type(2):before { color: #F3B700;}
.pie-section:nth-of-type(3):before { color: #00AA08;}

.pie-section.active:before {
    display: none;
}


#menu li, #menu button, #tips p, #tips h6 {
    font-family: Roboto, sans-serif;
    color: #444444;
    line-height: 1.6em;
    font-size: 1em;
}

/* bonus sections */

#fruit-cup {
    background-image: url(http://www.diabetes.org/assets/img/CYP/images/berry-bowl.png);
    position: absolute;
    width: 114px;
    height: 114px;
    z-index: 1;
    top: 3px;
    right: 22px;
}

#drink-cup {
    background-image: url(http://www.diabetes.org/assets/img/CYP/images/drink.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 104px;
    height: 104px;
    position: absolute;
    z-index: 99;
    top: 12px;
    left: 10px;
    opacity: .7;
}

#share {
    width: 100%;
    background: teal;
    padding: 1em;
    float: left;
    margin-top: 3em;
    box-sizing: border-box;
}
#share img {
    vertical-align: middle;
    margin: 0px 0px 0 7px;
}

#CYP-widget div#share-this-tools {
    float: none;
    background-color: transparent;
    border: none;
}

#CYP-widget #share-this-tools strong {
    display: none;
}

#CYP-widget span.stLarge {
    border-radius: 50%;
}

#CYP-widget span.st_sharethis_large {
    display: none;
}

#CYP-widget #share-this-tools {
    vertical-align: middle;
}

#CYP-widget span {
    -webkit-transform: none;
} /* overriding weird CSS rule in the base.css */

#colone #CYP-widget img { border: none !important; } /* overriding default wrapper styles, which unfortunately have an !important tag */
#menu li { margin-left: 0}

#CYP-widget { padding-bottom: 3em; }

a#custom-plate-share {
    height: 40px;
    vertical-align: middle;
    background: #093D63;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 40px;
    float: left;
    margin: 3px -2px 3px 13px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 29px;
    box-shadow: 0 0 0px 2px rgb(255, 212, 105) inset, 0 0 5px rgba(255,255,255,.5);
    background-image: url(http://main.diabetes.org/dorg/images/2013-template/logo-social-buttons.png);
}

#CYP-widget .stLarge { transition: .8s box-shadow ease; }

span#custom-pin-container {
    display: inline-block;
    line-height: 0;
    margin: 0px 0 6px -5px;
    float: none;
    vertical-align: middle;
}

#custom-pin-container a {
    width: 40px !important;
    height: 40px !important;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #CA2128;
    background-image: url(http://main.diabetes.org/dorg/images/2013-template/logo-social-buttons.png) !important;
    background-position: -80px 0;
    background-size: auto !important;
}


@media screen and (max-width: 650px), screen and (min-width:820px) and (max-width:1000px) { /* 820px - 1000px */

    .pie-section.food-type-2:before {
        right: auto;
        left: 31%;
        bottom: 37%;
    }

    #fruit-cup {
        z-index: 1;
        margin-left: 0;
        right: -57px;
        top: -27px;
        transition:all ease .5s;
        -webkit-transition:all ease .5s;
        -ms-transition:all ease .5s;
    }

    #drink-cup {
        left: -52px;
        top: -19px;
        z-index: 1;
        transition:left .5s;
        -webkit-transition:left .5s;
        -ms-transition:left .5s;
    }

    #CYP-widget.menu #drink-cup { left: -120px;}
    #CYP-widget.menu #fruit-cup { right: -150px;}

    #menu {
        float: right;
        width: 100%;
        box-sizing: border-box;
        padding: 0 1em;
        border: none;
        box-shadow: none;
        background-color: #fff;
        border-right: none;
        position: static;
        right: 0;
        transition: right 1s;
        z-index: 999;
        margin-right: 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    /* #menu * {-webkit-tap-highlight-color: rgba(0,0,0,0);} */

    #CYP-widget.menu #menu {
        background-color: transparent;
        position: relative;
        top: -20px;
    }
    #CYP-widget.menu #ingredients {
        background-color: #fafafa;
    }
    #CYP-widget.menu #ruler {
        display: none;
    }

    #menu-title {
        font-size: 1.2em;
        line-height: 1.3em;
        padding: .5em;
        transition: left .5s;
        /*left: -30%; */
        cursor: pointer;
        margin:0;
    }

    #CYP-widget.menu #menu-title {
        color: #fff;
        margin-top: 0;
        padding-bottom: .25em;
    }

    #table-spread {
        width: 100%;
        margin-left: 0;
        border-right: 0;
        padding-right: 0;
        padding-bottom: 2em;
        padding-top: 0;
        margin-bottom: 1em;
    }

    #plate {
        width: 90%;
        height: auto;
        overflow: hidden;
        position: relative;
        float: left;
        margin-left: 3%;
        left: 0;
        transition: left .5s, -webkit-transform .5s, width .5s, opacity .5s; /* bug in safari, cannot use multiple prefixes of transform in transition. only supporting webkit */
        opacity: 1;
        z-index: 2;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }


    #menu .sublist li { width: 75%; margin-left: 10%; }
    #menu .sublist li.active { width: 100%; margin-left: 0%; }

    #CYP-widget.menu #plate {
        width: 70%;
        left: 10%;
        opacity: 1;
        position: relative;
    }


    #CYP-widget.menu #table-spread {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #CYP-widget.menu > p { color: #fff; }

    #menu .sublist {
        padding-left: .5em;
    }


    #CYP-widget h1, #tips, #CYP-widget h2 { position: relative; z-index: 2; }


    #tips, #CYP-widget > h2, #share {
        width: 100%;
        margin-left: 0;
        padding-left: 3%;
        box-sizing: border-box;
        padding-right: 3%;
        transition: opacity .5s, max-height .5s;
        max-height: 9999px;
    }
    #share h2 { margin-left: 0; text-align: center;}
    #share a:first-of-type:before {
        content: '';
        display: block;
        margin-top: .5em;
    }

    #CYP-widget.menu #share h2 { color: white;}

    #CYP-widget.menu #tips, #CYP-widget.menu > h2 {
        opacity: 0;
        max-height: 300px;

    }

    #CYP-widget.menu #tips {min-height: 400px;}


    #CYP-widget.menu {
        background-color: #444;
        box-shadow: 0 50px 150px #222 inset;
    }

    /* rotations */

    #CYP-widget.menu #plate[class*=Grains] {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
    /*#CYP-widget.menu #plate[class*=Grains] .pie-section {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }*/

    #CYP-widget.menu #plate[class*=Prote] {
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
    }
    /*#CYP-widget.menu #plate[class*=Prote] .pie-section {
        transform: rotate(-225deg);
        -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
    }*/

    #CYP-widget.menu #plate[class*=Vegetable] {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    /*#CYP-widget.menu #plate[class*=Vegetable] .pie-section {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
    }*/

    #CYP-widget.menu #plate[class*=Vegetalescon] {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
    /*#CYP-widget.menu #plate[class*=Vegetalescon] .pie-section {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }*/

    #CYP-widget.menu #plate[class*=Vegetalessin] {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    /*
    #CYP-widget.menu #plate[class*=Vegetalessin] .pie-section {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
    }
    */

}